.carousel-dot-wrap {
  z-index:99;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.carousel-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid #ccc;
  margin: 6px;
  cursor: pointer;
  border-radius: 20px;
}

.carousel-dot-selected {
  background-color: #ccc;
}

.carousel-dot:hover {
  border: 3px solid #868686;
}